@import 'colors';
@import 'mixins';

html {
  box-sizing: border-box;
  color: $color-gray;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

::-moz-selection {
  @include selection($color-yellow);
}

::selection {
  @include selection($color-yellow);
}

.background {
  background: url('../assets/Background.svg') no-repeat left top;
  height: 520px;
  left: 0;
  position: absolute;
  top: 0;
  width: 415px;
}

.container {
  align-items: center;
  display: flex;
  margin-left: 290px;
  margin-top: 90px;
  position: relative;
  width: fit-content;

  &_image {
    overflow: hidden;
  }

  &_content {
    display: flex;
    flex-direction: column;
    width: 368px;
    justify-content: space-between;

    &--title {
      color: $color-purple;
      font-size: 2.625rem;
      line-height: 0;
      margin: 0 0 15px 0;
      padding: 0;
    }

    &--description {
      font-size: 1rem;
      line-height: 1.75rem;
      color: $color-gray;
      margin: 30px 0;
    }

    &--logo {
      width: 238px;
    }

  }
}

@media (max-width: 575.98px) {
  .container {
    margin-top: 80px;
    margin-left: 0;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}